<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cqupt.mis.colorfullcloud.dao.ChildrenDao">
    <resultMap id="childrenMap" type="cn.edu.cqupt.mis.colorfullcloud.domain.entity.ChildrenEntity">
        <id property="childrenId" column="id" />
        <result property="userId" column="user_id"/>
        <result property="childrenName" column="name" />
        <result property="card" column="card"/>
        <result property="birth" column="birth"/>
        <result property="sex" column="sex"/>
        <result property="school" column="school"/>
        <result property="grade" column="grade"/>
    </resultMap>

    <sql id="children">
        id,user_id,name,card,birth,sex,school,grade
    </sql>
    
    <select id="selectAllChildrenByUserId" parameterType="java.lang.Integer" resultMap="childrenMap">
        SELECT <include refid="children"/>
        FROM children
        WHERE user_id = #{userId}
    </select>

    <select id="selectAllChildrenByCard" parameterType="java.lang.String" resultMap="childrenMap">
        SELECT <include refid="children"/>
        FROM children
        WHERE card = #{card}
    </select>

    <insert id="insertChildrenByUserId">
        INSERT INTO children(user_id, name,card, birth, sex,school,grade)
        VALUES
        <foreach collection="list" item="children" separator=",">
            (#{children.userId},#{children.childrenName},#{children.card},#{children.birth},#{children.sex},#{children.school},#{children.grade})
        </foreach>
    </insert>

    <delete id="deleteChildrenByChildrenIdList" parameterType="java.util.List">
        DELETE FROM children
        WHERE id IN
        <foreach collection="list" item="childrenId" open="("
                 separator="," close=")">
            #{childrenId,jdbcType = VARCHAR}
        </foreach>
    </delete>

    <update id="updateChildren" >
        UPDATE children
        SET school = #{school},grade = #{grade}
        WHERE id = #{childrenId}
    </update>

    <select id="selectChildrenByUserIdAndChildrenId" resultMap="childrenMap">
        SELECT <include refid="children"/>
        FROM children
        WHERE id = #{childrenId} AND user_id = #{userId}
    </select>

</mapper>
   