<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cqupt.mis.colorfullcloud.dao.OrderDao">
    <resultMap id="orderMap" type="cn.edu.cqupt.mis.colorfullcloud.domain.entity.OrderEntity">
        <id property="orderId" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="orderTime" column="order_time" javaType="java.lang.String"/>
        <result property="payment" column="payment"/>
        <result property="payTime" column="pay_time" javaType="java.lang.String"/>
        <result property="payId" column="pay_id"/>
        <result property="orderCycleSum" column="order_cycle_sum" />
        <result property="total" column="total"/>
        <result property="discount" column="discount"/>
        <result property="amount" column="amount"/>
        <result property="status" column="status"/>
        <result property="activityId" column="activity_id"/>
    </resultMap>

    <sql id="order">
        id,user_id,order_time,payment,pay_time,pay_id,order_cycle_sum,total,discount,amount,status,activity_id
    </sql>

    <!--根据用户id查询所有订单-->
    <select id="selectAllOrdersByUserId" parameterType="java.lang.Integer" resultMap="orderMap">
        SELECT <include refid="order"/>
        FROM orders
        WHERE user_id = #{userId}
    </select>

    <!--删除订单-->
    <delete id="deleteOrdersByOrderIdList">
        DELETE
        FROM orders
        WHERE id IN
        <foreach collection="list" item="orderId" open="("
                 separator="," close=")">
            #{orderId,jdbcType = VARCHAR}
        </foreach>
    </delete>

    <!--修改订单状态（默认0：未支付；1：支付成功；2：优惠分享中；3：已取消）-->
    <update id="modifyOrderStatusByOrderId" >
        UPDATE orders
        SET status = #{status}
        WHERE id = #{orderId}
    </update>

    <!--修改订单状态（默认0：未支付；1：支付成功；2：优惠分享中；3：已取消）-->
    <update id="modifyOrderSuccessByOrderId" >
        UPDATE orders
        SET payment = '微信',pay_id = #{payId},pay_time = CURRENT_TIME ,status = 1
        WHERE id = #{orderId}
    </update>

    <!--创建订单-->
    <insert id="insertOrder" parameterType="cn.edu.cqupt.mis.colorfullcloud.domain.entity.OrderEntity">
        INSERT INTO orders(id,user_id,order_cycle_sum,total,discount,amount,activity_id)
        VALUES (#{orderId},#{userId},#{orderCycleSum},#{total},#{discount},#{amount},#{activityId})
    </insert>

    <!--查询订单id是否存在-->
    <select id="selectOrderId" parameterType="java.lang.String" resultMap="orderMap">
        SELECT id
        FROM orders
        WHERE id = #{orderId}
    </select>

    <select id="selectCycleTime" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT order_cycle_sum
        FROM orders
        WHERE id = #{orderId}
    </select>

</mapper>
   