<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cqupt.mis.colorfullcloud.dao.UserDao">
    <resultMap id="suggestionMap" type="cn.edu.cqupt.mis.colorfullcloud.domain.entity.SuggestionEntity">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="introduction" column="introduction"/>
    </resultMap>

    <sql id="suggestion">
        id,user_id,introduction
    </sql>

    <select id="selectAllSuggestions" resultMap="suggestionMap">
        SELECT <include refid="suggestion"/>
        FROM suggestion
    </select>

    <insert id="insertSuggestion" parameterType="cn.edu.cqupt.mis.colorfullcloud.domain.dto.SuggestionDto">
        INSERT INTO suggestion(user_id,introduction)
        VALUES (#{userId},#{introduction})
    </insert>
</mapper>
   